<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/duckwaaai/image/upload/f_auto,q_auto/v1/Crypto-Diary/xtvfwukt4ev10hheapxi">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cef0e935a9.js" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <title>Jorge Garcia Dev - Crypto Diary</title>
</head>
<body>

<!-- Sección: Nav-Bar -->

    <nav>
        <nav class="nav">
            <div class="nav-left">
                <a class="nav-title" href="#">C|<strong>D</strong></a>
            </div>
            <div class="nav-right">
                <a class="nav-menu" href="/">Inicio</a>
            </div>
        </nav>
    </nav>

<!-- Sección: Hero -->

    <section class="hero">
        <div class="hero-title">
            <h1>Crypto <strong>Diary</strong></h1>
            <p>Proyecto Desarrollado con Flask, HTML, CSS y JavaScript, <br>
            se conecta con CryptoCompare por medio de un API. <br>
            Obtiene los precios de 10 cripto-monedas. </p>
        </div>
    </section>

<!-- Sección: Carrusel -->

    <section class="carrusel">
        <div class="carrusel-items">
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="carrusel-item">
                <i class="fa-brands fa-ethereum"></i>
            </div>
        </div>
    </section>

<!-- Sección: Newsletter -->

<section class="form-container">
    <div class="form-content">
        <h2>Suscribete y recibe actualizaciones <br>
            directo a tu correo.</h2>
        <form class="form" action="" method="POST">
            {{ form.hidden_tag() }}
            <div>
                {{ form.name(size=64, placeholder="Nombre") }}<br>
            </div>
            <div>
                {{ form.email(size=64, placeholder="Email") }}<br>
            </div>
            <div class="register-form">
                {{ form.submit(id="submit-button") }}
            </div>
        </form>
    </div>
</section>

<!-- Sección: Ciclo For (Monedas, Nombres y Precios) -->

    <section class="container">
        <div id="precios" class="content">
            <ul>
                <h3>Símbolo</h3>
                <br>
                {% for symbol in symbol_list %}
                <li><strong>{{ symbol }}</strong></li>
                <br>
                {% endfor %}
            </ul>
            <ul>
                <h3>Nombre</h3>
                <br>
                {% for name in name_list %}
                <div class="name-container">
                    <li>{{ name }}</li>
                </div>
                <br>
                {% endfor %}
            </ul>
            <ul>
                <h3>Precio en USD</h3>
                <br>
                {% for usd in usd_price_list %}
                <div class="usd-price_container">
                    <li>$ {{ usd }}</li>
                </div>
                <br>
                {% endfor %}
            </ul>
            <ul>
                <h3>Precio en MXN</h3>
                <br>
                {% for mxn in mxn_price_list %}
                    <div class="mx-price-container">
                        <li>$ {{ mxn }}</li>
                    </div>
                <br>
                {% endfor %}
            </ul>
        </div>
    </section>

<!-- Sección: Footer -->

    <footer>
        <div class="footer">
            <div class="center full-width">
                <div class="row">
                    <h2><span>CONTÁCTAME</span></h2>
                </div>
            </div>
            <div class="center full-width">
                <div class="row">
                    <p>No olvides seguirme en mis Redes Sociales</p>
                </div>
            </div>
            <div class="center full-sidth social-links">
                <div class="row">
                    <a target="_blank" href="https://www.facebook.com/Jorge-Garcia-Dev-105078822218513">
                        <img class="social" src="https://res.cloudinary.com/duckwaaai/image/upload/f_auto,q_auto/v1/Crypto-Diary/lvwgjqcehkeo5fahnllm" alt="Logo Facebook">
                    </a>
                </div>
                <div class="row">
                    <a target="_blank" href="https://twitter.com/JorgeGarcia_Dev">
                        <img class="social" src="https://res.cloudinary.com/duckwaaai/image/upload/f_auto,q_auto/v1/Crypto-Diary/e4jgohksyepjhf5m3gng" alt="Logo Twitter">
                    </a>
                </div>
                <div class="row">
                    <a target="_blank" href="https://www.linkedin.com/in/jorgegarcia-dev">
                        <img class="social" src="https://res.cloudinary.com/duckwaaai/image/upload/f_auto,q_auto/v1/Crypto-Diary/zga15thveqbqv9obkmbf" alt="Logo Linkedin">
                    </a>
                </div>
                <div class="row">
                    <a target="_blank" href="https://github.com/JorgeGarcia-Dev">
                        <img class="social" src="https://res.cloudinary.com/duckwaaai/image/upload/f_auto,q_auto/v1/Crypto-Diary/pmm5sz4jue6tyepd7ugs" alt="Logo GitHub">
                    </a>
                </div>
            </div>
            <div class="made-width">
                <div class="row">
                    <p class="love">Development By_ <span>Jorge Garcia Dev</span></p>
                </div>
            </div>
        </div>
    </footer>

    <script  type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    </script>

</body>
</html>