<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cef0e935a9.js" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <title>Jorge Garcia Dev - Crypto Diary</title>
</head>
<body>

<!-- Sección: Nav-Bar -->

    <nav>
        <nav class="nav">
            <div class="nav-left">
                <a class="nav-title" href="#">C|<strong>D</strong></a>
            </div>
            <div class="nav-right">
                <a class="nav-menu" href="#">Inicio</a>
                <a class="nav-menu" href="#">Registro</a>
            </div>
        </nav>
    </nav>

<!-- Sección: Hero -->

    <section class="hero">
        <div class="hero-title">
            <h1>Crypto <strong>Diary</strong></h1>
            <p>Proyecto Desarrollado con Flask, HTML, CSS y JQuery, <br>
            se conecta con CryptoCompare por medio de un API. <br>
            Obtiene los precios de 10 cripto-monedas. </p>
        </div>
    </section>

<!-- Sección: Ciclo For (Monedas, Nombres y Precios) -->

    <section class="container">
        <div id="precios" class="content">
                <ul>
                    <h3>Símbolo</h3>
                    <br>
                    {% for moneda in monedas %}
                    <li><strong>{{ moneda }}</strong></li>
                    <br>
                    {% endfor %}
                </ul>
                <ul>
                    <h3>Nombre</h3>
                    <br>
                    {% for nombre in nombres %}
                    <li>{{ nombre }}</li>
                    <br>
                    {% endfor %}
                </ul>
                <ul>
                    <h3>Precio en USD</h3>
                    <br>
                    {% for dolar in dolares %}
                    <div class="precio">
                        <li>$</li>
                        <li> {{ dolar }}</li>
                    </div>
                    <br>
                    {% endfor %}
                </ul>
                <ul>
                    <h3>Precio en MXN</h3>
                    <br>
                    {% for peso in pesos %}
                        <div class="precio">
                            <li>$</li>
                            <li>{{ peso }}</li>
                        </div>
                    <br>
                    {% endfor %}
                </ul>
        </div>
    </section>

<!-- Sección: Footer -->

    <footer>
        <div class="footer">
            <div class="center full-width">
                <div class="row">
                    <h2><span>CONTÁCTAME</span></h2>
                </div>
            </div>
            <div class="center full-width">
                <div class="row">
                    <p>No olvides seguirme en mis Redes Sociales</p>
                </div>
            </div>
            <div class="center full-sidth social-links">
                <div class="row">
                    <a target="_blank" href="https://www.facebook.com/Jorge-Garcia-Dev-105078822218513">
                        <img class="social" src="{{ url_for('static', filename='facebook.png') }}" alt="Logo Facebook">
                    </a>
                </div>
                <div class="row">
                    <a target="_blank" href="https://twitter.com/JorgeGarcia_Dev">
                        <img class="social" src="{{ url_for('static', filename='twitter.png') }}" alt="Logo Twitter">
                    </a>
                </div>
                <div class="row">
                    <a target="_blank" href="https://www.linkedin.com/in/jorgegarcia-dev">
                        <img class="social" src="{{ url_for('static', filename='linkedin.png') }}" alt="Logo Linkedin">
                    </a>
                </div>
                <div class="row">
                    <a target="_blank" href="https://github.com/JorgeGarcia-Dev">
                        <img class="social" src="{{ url_for('static', filename='github.png') }}" alt="Logo GitHub">
                    </a>
                </div>
            </div>
            <div class="made-width">
                <div class="row">
                    <p class="love">Development By_ <span>Jorge Garcia Dev</span></p>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript">

        function actualizar(){$('#precios').load(document.URL +  '  #precios');}

        //Función para actualizar cada 5 segundos(5000 milisegundos)
        setInterval("actualizar()",1000);

    </script>

</body>
</html>